.header {
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-top: 2rem;
  margin: auto 5%;

  h1 {
    font-weight: 800;
    color: var(--primary-color);

    span {
      color: var(--secondary-color);
    }
  }
}

.nav-menu {
  display: flex;
  margin-left: 5%;
  position: relative;

  li {
    padding: 0 1rem;

    a {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 2.7rem;
  margin: auto 5%;
  display: none;
}

@media screen and (max-width: 1040px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0 3rem;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 0;
    transition: 0.4s;
    background-color: rgba(69, 71, 90, 0.2);
    backdrop-filter: blur(2px);
    li {
      padding: 2rem 0;

      a {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }

  .nav-menu.active {
    right: 0%;
    display: flex;
  }

  .hamburger {
    display: initial;
  }
}
