@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #f2cdcd;
  --secondary-color: #b4befe;
  --third-color: #f38ba8;
  --base: #1e1e2e;
  --text: #cdd6f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  background: var(--base);
}

h1, h4, p, a {
  text-decoration: none;
  color: var(--text);
}

ul {
  list-style-type: none;
}